# Python / Django
venv/
.venv/
env/
__pycache__/
*.py[cod]
*.sqlite3
*.log
staticfiles/
media/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Variables de entorno
.env
.env.*

# Node
node_modules/
dist/
build/

# IDEs / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
